.filters.wrapper
  %h4.filters
    %i.fa.fa-filter
    Filters
    = button_tag "Clear All", class: "btn btn-link btn-xs filter-help", id: "clear_all_filters"

  - if controller_name == "contacts"
    %h3.filter.header
      = link_to 'javascript:void(0)', data: { toggle: "collapse", target: "#exclude-do-not-mail-email-filter ul" } do
        Exclude Do Not
        %i.glyphicon.glyphicon-chevron-up.pull-right
        %i.glyphicon.glyphicon-chevron-down.pull-right
        = button_tag "?", data: { toggle: "tooltip", title: tooltip_text_for_filter(:relationships) }, class: "btn btn-link btn-xs filter-help"

    .filter.wrapper#exclude-do-not-mail-email-filter
      %ul.list.default.list-unstyled.in
        %li.checkbox
          = check_box_tag "do_not_mail_email_filter[do_not_mail_email]", "mail", (params[:dm_em] || []).include?("mail")
          Mail
          %br
          = check_box_tag "do_not_mail_email_filter[do_not_mail_email]", "email", (params[:dm_em] || []).include?("email")
          Email

  %h3.filter.header
    = link_to 'javascript:void(0)', data: { toggle: "collapse", target: "#relationships-filter ul" } do
      Relationships
      %i.glyphicon.glyphicon-chevron-up.pull-right
      %i.glyphicon.glyphicon-chevron-down.pull-right
      = button_tag "?", data: { toggle: "tooltip", title: tooltip_text_for_filter(:relationships) }, class: "btn btn-link btn-xs filter-help"

  .filter.wrapper#relationships-filter
    %ul.list.default.list-unstyled.in
      - Company.internal.ordered_by_name.each do |company|
        %li.checkbox
          = check_box_tag "relationship_filter[company_ids]", company.id, (params[:rc] || []).include?(company.id.to_s)
          = company.name

  %h3.filter.header
    = link_to 'javascript:void(0)', data: { toggle: "collapse", target: "#relationships-filter ul" } do
      Roles
      %i.glyphicon.glyphicon-chevron-up.pull-right
      %i.glyphicon.glyphicon-chevron-down.pull-right
      = button_tag "?", data: { toggle: "tooltip", title: tooltip_text_for_filter(:roles) }, class: "btn btn-link btn-xs filter-help"

  .filter.wrapper#internal-relationship-roles-filter
    %ul.list.default.list-unstyled.in
      - InternalCompanyRelationship.role.values.sort.each do |role|
        %li.checkbox
          = check_box_tag "internal_relationship_role_filter[roles]", role, (params[:irr] || []).include?(role)
          = role.humanize

  %h3.filter.header
    = link_to 'javascript:void(0)', data: { toggle: "collapse", target: "#archived-filter ul" } do
      Status
      %i.glyphicon.glyphicon-chevron-up.pull-right
      %i.glyphicon.glyphicon-chevron-down.pull-right
      = button_tag "?", data: { toggle: "tooltip", title: tooltip_text_for_filter(:status) }, class: "btn btn-link btn-xs filter-help"
  .filter.wrapper#archived-filter
    %ul.list.default.list-unstyled.in
      %li.checkbox
        = check_box_tag "archived_filter[archived]", false, (params[:a] || []).include?("false")
        Active
      %li.checkbox
        = check_box_tag "archived_filter[archived]", true, (params[:a] || []).include?("true")
        Inactive

  %h3.filter.header
    = link_to 'javascript:void(0)', data: { toggle: "collapse", target: "#company-types-filter ul" } do
      Company Type
      %i.glyphicon.glyphicon-chevron-up.pull-right
      %i.glyphicon.glyphicon-chevron-down.pull-right
      = button_tag "?", data: { toggle: "tooltip", title: tooltip_text_for_filter(:company_type) }, class: "btn btn-link btn-xs filter-help"
  .filter.wrapper#company-types-filter
    %ul.list.default.list-unstyled.in
      - CompanyType.ordered_by_name.each do |company_type|
        %li.checkbox
          = check_box_tag "company_type_filter[company_type_ids]", company_type.id, (params[:ct] || []).include?(company_type.id.to_s)
          = company_type.name

  = yield :view_specific_filters