.filters.wrapper
  %h4.filters
    %i.fa.fa-filter
    Filters
  %h3.filter.header
    Relationships
  .filter.wrapper#relationships-filter
    %ul.list.default.list-unstyled
      - Company.internal.ordered_by_name.each do |company|
        %li.checkbox
          = check_box_tag "relationship_filter[company_ids]", company.id, (params[:rc] || []).include?(company.id.to_s)
          = company.name

  %h3.filter.header
    Role
  .filter.wrapper#company-types-filter
    %ul.list.default.list-unstyled
      - CompanyType.ordered_by_name.each do |company_type|
        %li.checkbox
          = check_box_tag "company_type_filter[company_type_ids]", company_type.id, (params[:ct] || []).include?(company_type.id.to_s)
          = company_type.name

  %h3.filter.header
    Status
  .filter.wrapper#archived-filter
    %ul.list.default.list-unstyled
      %li.checkbox
        = check_box_tag "archived_filter[archived]", false, (params[:a] || []).include?("false")
        Active
      %li.checkbox
        = check_box_tag "archived_filter[archived]", true, (params[:a] || []).include?("true")
        Inactive

  = yield :view_specific_filters