.row
  #addresses
    = f.fields_for :addresses, (@entity.persisted? || @entity.addresses.present?) ? @entity.addresses : @entity.addresses.build, wrapper: false do |address_form|
      .col-md-4.fields
        .panel.panel-default
          .panel-heading
            .panel-title
              Address
          .panel-body
            = address_form.input :address_line_1, as: :string, placeholder: "Address Line 1", label: false, input_html: { required: true }
            = address_form.input :address_line_2, as: :string, placeholder: "Address Line 2", label: false
            .row
              .col-md-6
                .form-group.select.optional.contact_addresses_country
                  %div
                    = address_form.select(:state, grouped_options_for_select(country_state_list_user_friendly, address_form.try(:object).try(:state).try(:to_sym)), {}, label: false, class: "select optional form-control user-success")
                = address_form.input :city, placeholder: "City", label: false, input_html: { required: true }
              .col-md-6
                = address_form.input :zip, placeholder: "Zip", label: false, input_html: { required: true }

            = address_form.link_to_remove "Remove", class: "btn btn-danger"
  .col-md-4
    = f.link_to_add  "Add address", :addresses, class: "btn btn-default", data: { target: "#addresses" }