.modal-dialog
  .modal-content
    .modal-header
      %button.close{ "data-dismiss" => "modal", type: "button" } ×
      %h2.modal-title
        Manage Commications
    #modal-form
      = simple_nested_form_for @contact, url: update_communications_contact_url(@contact), remote: true, html: { class: "form-horizontal" }, wrapper: :horizontal_form do |f|
        .modal-body
          .row
            .col-sm-10.col-sm-offset-2
              .form-group.form-inline
                %label.control-label{ for: "birthday" }
                  Birthday
                = f.date_select :birthday, { discard_year: true, include_blank: true }, { class: "form-control" }

              = f.input :do_not_email
              = f.input :do_not_mail
              = f.input :contest_participant
              = f.input :send_cookies
              = f.input :mmi_ballgame, label: "Send MMI ballgame emails"

        .modal-footer
          %button.btn.btn-default{ "data-dismiss" => "modal", type: "button" } Close
          = f.submit "Save", class: "btn btn-primary", data: { toggle: "button", "loading-text" => "Saving" }