= nested_form_for contact, html: { class: "form-horizontal" }, remote: true do |f|
  .modal-body
    - if contact.errors.any?
      .alert.alert-danger
        %a.close{ "data-dismiss" => "alert", href: "#" } ×
        %h4
          Oh snap! You got an error!
        - contact.errors.full_messages.each do |message|
          %p
            = message
    - if @success_message
      .alert.alert-success
        %a.close{ "data-dismiss" => "alert", href: "#" } ×
        %h4
          = @success_message

    .row
      .col-md-10.col-md-offset-1
        .row
          %h2
            Name
          .col-md-2
            = f.select :prefix, Contact.prefix.options, { include_blank: false }, { class: "form-control" }
          .col-md-5
            = f.text_field :first_name, placeholder: "First Name", class: "form-control"
          .col-md-5
            = f.text_field :last_name, placeholder: "Last Name", class: "form-control"

        .row.top-buffer-30
          %h2
            Relationships
          .form-group
            %label.col-md-2.control-label{ for: 'company'} Company
            .col-md-5
              = f.select :company_id, Company.all.map{ |c| [c.name, c.id] }, { include_blank: false }, { class: "form-control" }

          .form-group
            %label.col-md-2.control-label{ for: 'job_title'}  Job Title
            .col-md-5
              = f.text_field :job_title, class: "form-control"

        %hr
        .row.top-buffer-30
          %h2
            Contact Info
          = render 'address_fields', f: f, contact: contact
          %hr
          = render 'email_fields', f: f, contact: contact
          %hr
            = render 'phone_number_fields', f: f, contact: contact

  .modal-footer
    %button.btn.btn-default{ "data-dismiss" => "modal", type: "button" } Close
    = f.submit "Save", class: "btn btn-primary", data: { toggle: "button", "loading-text" => "Saving" }
