= nested_form_for contact, html: { class: "form-horizontal" }, remote: true do |f|
  .modal-body
    - if contact.errors.any?
      .alert.alert-danger
        %a.close{ "data-dismiss" => "alert", href: "#" } ×
        %h4
          Oh snap! You got an error!
        - contact.errors.full_messages.each do |message|
          %p
            = message
    - elsif contact.previous_changes.present?
      .alert.alert-success
        %a.close{ "data-dismiss" => "alert", href: "#" } ×
        %p
          Contact saved.

    .row
      .col-md-10.col-md-offset-1
        .row
          %h2
            Name
          .col-md-2
            = f.select :prefix, Contact.prefix.options, { include_blank: false }, { class: "form-control" }
          .col-md-5
            = f.text_field :first_name, placeholder: "First Name", class: "form-control"
          .col-md-5
            = f.text_field :last_name, placeholder: "Last Name", class: "form-control"

        .row.top-buffer-30
          %h2
            Contact Info

          .row
            .col-md-2.control-label
              %label{ for: "address" } Address
            .col-md-10
              = f.fields_for :addresses, contact.addresses.present? ? contact.addresses : contact.addresses.build do |address_form|
                .form-group
                  .col-md-6
                    = address_form.text_field :address_line_1, placeholder: "Address Line 1", class: "form-control"
                  .col-md-6
                    = address_form.text_field :address_line_2, placeholder: "Address Line 2", class: "form-control"
                .form-group
                  .col-md-6
                    = address_form.text_field :city, placeholder: "City", class: "form-control"
                  .col-md-3
                    = address_form.text_field :state, placeholder: "State", class: "form-control"
                  .col-md-3
                    = address_form.text_field :zip, placeholder: "Zip", class: "form-control"
                .form-group
                  = address_form.link_to_remove "Remove", class: "btn btn-danger btn-xs pull-right"

              = f.link_to_add  "Add another address", :addresses, class: "btn btn-default"


          %hr
          .row.top-buffer-30
            .col-md-2.control-label
              %label{ for: "email" } Email
            .col-md-10
              = f.fields_for :emails, contact.emails.present? ? contact.emails : contact.emails.build do |email_form|
                .form-group
                  .col-md-9
                    = email_form.text_field :value, placeholder: "Email", class: "form-control"
                  .col-md-3
                    = email_form.link_to_remove "Remove", class: "btn btn-danger btn-xs pull-right"

              = f.link_to_add  "Add another email", :emails, class: "btn btn-default"

          %hr
          .row.top-buffer-30
            .col-md-2.control-label
              %label{ for: "phone_numbers" } Phone
            .col-md-10
              = f.fields_for :phone_numbers, contact.phone_numbers.present? ? contact.phone_numbers : contact.phone_numbers.build do |phone_number_form|
                .form-group
                  .col-md-4
                    = phone_number_form.select :kind, PhoneNumber.kind.options, { include_blank: false }, { class: "form-control" }
                  .col-md-5
                    = phone_number_form.text_field :value, placeholder: "Phone Number", class: "form-control"
                  .col-md-3
                    = phone_number_form.link_to_remove "Remove", class: "btn btn-danger btn-xs pull-right"

              = f.link_to_add  "Add another phone", :phone_numbers, class: "btn btn-default"


  .modal-footer
    %button.btn.btn-default{ "data-dismiss" => "modal", type: "button" } Close
    = f.submit "Save", class: "btn btn-primary", data: { toggle: "button", "loading-text" => "Saving" }
