.modal-dialog
  .modal-content
    .modal-header
      %button.close{ "data-dismiss" => "modal", type: "button" } ×
      %h1.modal-title
        - if(@contact.persisted?)
          Edit #{@contact.full_name}
        - else
          Add a person

    #modal-form
      = nested_form_for @contact, html: { class: "form-horizontal" }, remote: true do |f|
        .modal-body
          - if @contact.errors.any?
            .alert.alert-danger
              %a.close{ "data-dismiss" => "alert", href: "#" } ×
              %h4
                Oh snap! You got an error!
              - @contact.errors.full_messages.each do |message|
                %p
                  = message
          - if @success_message
            .alert.alert-success
              %a.close{ "data-dismiss" => "alert", href: "#" } ×
              %h4
                = @success_message

          .modal-row
            %h2 Name
            .prefix
              = f.select :prefix, Contact.prefix.options, { include_blank: false }, { class: "form-control" }
            .first-name
              = f.text_field :first_name, placeholder: "First Name", class: "form-control"
            .last-name
              = f.text_field :last_name, placeholder: "Last Name", class: "form-control"

          .modal-row
            %h2
              Relationships
            .border-box
              .form-group
                %label.control-label{ for: 'company'} Company 
                = f.select :company_id, Company.all.map{ |c| [c.name, c.id] }, { include_blank: false }, { class: "form-control" }

              .form-group
                %label.control-label{ for: 'job_title'} Job Title 
                = f.text_field :job_title, class: "form-control"

          .modal-row
            %h2
              Contact Info
            .address
              = render "address_fields", f: f
            .email
              = render "email_fields", f: f
            .phone
              = render "phone_number_fields", f: f

          .modal-row
            .comms
              %h2
                Communications
              .form-group.form-inline
                %label.control-label{ for: "birthday" }
                  Birthday
                = f.date_select :birthday, { discard_year: true, include_blank: true }, { class: "form-control" }
              .checkbox
                %label
                  = f.check_box :wall_calendar
                  Send wall calendar emails
              .checkbox
                %label
                  = f.check_box :mmi_ballgame
                  Send MMI ballgame emails
              .checkbox
                %label
                  = f.check_box :holiday_card
                  Send holiday card emails
              .checkbox
                %label
                  = f.check_box :do_not_email
                  Do not email
              .checkbox
                %label
                  = f.check_box :do_not_mail
                  Do not mail

        .modal-footer
          - if @contact.errors.any?
            .alert.alert-danger
              %a.close{ "data-dismiss" => "alert", href: "#" } ×
              %h4
                Oh snap! You got an error!
              - @contact.errors.full_messages.each do |message|
                %p
                  = message
          - if @success_message
            .alert.alert-success
              %a.close{ "data-dismiss" => "alert", href: "#" } ×
              %h4
                = @success_message
          %button.btn-fam.no-border{ "data-dismiss" => "modal", type: "button" } Close
          = f.submit "Save", class: "btn-fam", data: { toggle: "button", "loading-text" => "Saving" }
