.row.top-buffer-15
  #phone_numbers
    = f.fields_for :phone_numbers, (@contact.persisted? || @contact.phone_numbers.present?) ? @contact.phone_numbers : @contact.phone_numbers.build, wrapper: false do |phone_number_form|
      .col-md-4.fields
        .panel.panel-default
          .panel-heading
            .panel-title
              Phone number
          .panel-body
            = phone_number_form.input :kind, collection: PhoneNumber.kind.options, include_blank: false, label: false
            .row
              .col-md-8
                = phone_number_form.input :phone_number, placeholder: "Phone Number", label: false, input_html: { data: "phone-number-input", autocomplete: "off" }
              .col-md-4
                = phone_number_form.input :extension, placeholder: "Extension", label: false, input_html: { data: "phone-number-extension-input", autocomplete: "off" }
            = phone_number_form.link_to_remove "Remove", class: "btn btn-danger"
  .col-md-4
    = f.link_to_add  "Add phone number", :phone_numbers, class: "btn btn-default", data: { target: "#phone_numbers" }