.col-sm-9.for.content
  = render "action_panel", search_url: contacts_url
  .contacts.holder
    %table.table.for.contacts.table-hover
      %thead
        %tr
          %th
            = check_box_tag "select-contact"
          %th
            Name
          %th
            Company
          %th
            Title
      %tbody#contacts-listing
        %tr
          %td.add.a.contact{:colspan => 4}
            %button{ type: "button", class: "btn btn-link btn-sm", data: { toggle: "modal", target: "#add-contact-modal" } }
              + Add a new contact
        = render @contacts

    #contacts-pagination
      = paginate(@contacts)

.col-sm-3.profile.on.listing.pages
  = render "profile"
  %h2
    Filters:
  %h2
    Affiliations
  #affiliations-filter
    .well
      %ul.list-unstyled
        - @all_principals[true].each do |principal|
          %li.checkbox
            = check_box_tag "affiliation_filter[company_ids]", principal.id
            = principal.name
    .well
      %ul.list-unstyled
        - @all_principals[false].each do |principal|
          %li.checkbox
            = check_box_tag "affiliation_filter[company_ids]", principal.id
            = principal.name

= render "new", contact: Contact.new