.neat-row
  .index.content
    = render "action_panel", search_url: contacts_url, csv_export_url: contacts_url(params.merge(format: 'csv'))
    .contacts.holder
      %table.table.table-hover
        %thead
          %tr
            %th
              = check_box_tag "select-contact"
            %th.sortable
              - if(params[:first_name_sort] == "down")
                = link_to contacts_url(params.merge(first_name_sort: "up")) do
                  Name
                  %i.fa.fa-angle-down
              - else
                = link_to contacts_url(params.merge(first_name_sort: "down")) do
                  Name
                  %i.fa.fa-angle-up
            %th
              Company
            %th
              Title
        %tbody#contacts-listing
          %tr
            %td.add.a.contact{ colspan: 4 }
              .wrap
                %i.fa.fa-plus
                = link_to "Add a new contact", new_contact_url
          = render @contacts
      #contacts-pagination
        = paginate(@contacts)
  .profile.on.listing.pages
    = render "profile"
    = render "companies_contacts_shared/filter_sidebar"