.show.content
  .go.and.profile
    .go.back
      - if(@company)
        = link_to company_url(@company) do
          %span.glyphicon.glyphicon-chevron-left
          = "Back to #{@company.name}"
      - else
        = link_to contacts_url_with_saved_filters do
          %span.glyphicon.glyphicon-chevron-left
          View all contacts list
    .profile
      = render "profile"

  .company.details
    %h1
      - if @entity.persisted?
        = "Edit #{@entity.full_name}"
      - else
        New Contact

    - if(@company)
      %h2
        Company:
        = @company.name

    = simple_nested_form_for [@company, @entity], html: { id: "contact_form", novalidate: false } do |f|
      .row
        .col-md-12
          %h2
            Profile
          .row
            .col-md-6
              .panel.panel-default
                .panel-heading
                  .panel-title
                    Name
                .panel-body
                  .row
                    .col-md-3
                      = f.input :prefix, collection: Contact.prefix.options, include_blank: "Prefix", label: false
                    .col-md-3
                      = f.input :first_name, placeholder: "First Name", label: false
                    .col-md-3
                      = f.input :middle_name, placeholder: "Middle Name", label: false
                    .col-md-3
                      = f.input :last_name, placeholder: "Last Name", label: false
            .col-md-5
              .panel.panel-default
                .panel-heading
                  .panel-title
                    Company Relationship
                .panel-body
                  .row
                    - if @company
                      = f.hidden_field :company_id
                    - else
                      .col-md-6
                        = f.input :company_id, collection: Company.ordered_by_name.map{ |c| [c.name, c.id] }, include_blank: "Select Company", label: false
                    .col-md-6
                      = f.input :job_title, placeholder: "Job Title", label: false

      .row.top-buffer-30
        .col-md-12
          %h2
            Contact Info
          .row
            #contact_info_errors_container
          = render "address_fields", f: f
          = render "phone_number_fields", f: f
          = render "email_fields", f: f

      %br
      .form-group
        = link_to "Back", back_url_or(contacts_url_with_saved_filters), class: "btn btn-default"
        = f.submit "Save", class: "btn btn-primary"