.neat-row
  .show.content
    .contact.intro
      .go.back
        = link_to contacts_url do
          %span.glyphicon.glyphicon-chevron-left
          Back to contacts list
      .profile
        = render "profile"
      .basic.contact.info
        .contact.name
          %span
            = @contact.full_name
          = link_to contact_url(@contact), class: "btn-fam no-border pull-right", data: { confirm: "Are you sure you want to delete the contact '#{@contact.full_name}'?", method: 'delete' } do
            %i.fa.fa-trash-o.pull-right
          = link_to edit_contact_url(@contact), class: "btn-fam no-border pull-right" do
            %i.fa.fa-pencil.pull-right

        .secondary.contact.info
          .pull-left
            %span.label
              Email
            = @contact.emails.join(",")
            %span.label
              Phone
            = @contact.phone_numbers.join(",")
          .pull-left
            .pull-left
              %span.label
                Address
            .pull-left
              - @contact.addresses.each do |address|
                .address
                  = address.address_line_1
                  = address.address_line_2
                  = address.city
                  = address.state
                  = address.zip

    .contact.details
      .first.contact
        .board.for.contact
          %h3
          %h2
            = link_to @contact.company.name, @contact.company
          %h4
            = @contact.job_title

          %h3 Relationships
          %table.table.table-hover
            - @contact.company.internal_company_relationships.ordered_by_internal_company_name.each do |internal_company_relationship|
              %tr
                %td
                  = link_to internal_company_relationship.internal_company.name, internal_company_relationship.internal_company
                %td
                  Role:
                  = internal_company_relationship.role.text
                  %br
                %td
                  Status:
                  = internal_company_relationship.record_status
                  %br

        .board.for.contact
          %h3 User Account
          %table
            %tr
              %td.tlabel.for.attribute
                %strong Emails:
              %td
                = @contact.emails.join(",")
            - if @contact.user.present?
              %tr
                %td.tlabel.for.attribute
                  %strong
                    User Account:
                %td
                  = @contact.user.email
                  - unless @contact.user.invitation_accepted?
                    (Pending confirmation)
            - else
              %tr
                %td
                  = link_to "Add a user account", new_contact_user_url(@contact), remote: true, class: "btn btn-primary"
                %td

    .contact.details
      .second.contact
        .board.for.contact.communications
          %h3 Communications
          %table
            %tr
              %td.tlabel.for.attribute Birthday
              %td 
                = @contact.birthday && l(@contact.birthday, format: :only_date_month)
            %tr
              %td.tlabel.for.attribute MMI Ballgame
              %td
                = human_boolean(@contact.mmi_ballgame)
            %tr
              %td.tlabel.for.attribute Do not email
              %td
                = human_boolean(@contact.do_not_email)
            %tr
              %td.tlabel.for.attribute Do not mail
              %td 
                = human_boolean(@contact.do_not_mail)
            %tr
              %td.tlabel.for.attribute Send cookies
              %td
                = human_boolean(@contact.send_cookies)

        .board.for.contact.notes
          %h3 Notes
          - @contact.notes.each do |n|
            %div 
              = l(n.updated_at)
            %div
              = n.note