.neat-row
  .show.content
    .contact.intro
      .go.back
        - if(@company)
          = link_to company_url(@company) do
            %span.glyphicon.glyphicon-chevron-left
            = "Back to #{@company.name}"
        - else
          = link_to contacts_url_with_saved_filters do
            %span.glyphicon.glyphicon-chevron-left
            View all contacts

      .profile
        = render "profile"
      .basic.contact.info
        .contact.name
          %span
            = get_next_prev_contact_link(false, "Previous contact")
            = @contact.full_name
            = get_next_prev_contact_link(true, "Next contact")

          = link_to url_for([@company, @contact]), class: "btn-fam no-border pull-right", title: "Delete", data: { confirm: "Are you sure you want to delete the contact '#{@contact.full_name}'?", method: 'delete', toggle: "tooltip" } do
            %i.fa.fa-trash-o.pull-right
          = link_to url_for([:edit, @company, @contact]), class: "btn-fam no-border pull-right", title: "Edit Contact", data: { toggle: "tooltip" }  do
            %i.fa.fa-pencil.pull-right
          = link_to contact_url(@contact, format: 'vcf'), class: "btn-fam no-border pull-right", title: "Download VCard", data: { toggle: "tooltip" } do
            %i.fa.fa-phone.pull-right

        .secondary.contact.info.row
          .col-sm-3
            .row
              .col-sm-3
                %span.label
                  Email
              .col-sm-9
                = @contact.emails.map{ |email| mail_to(email) }.join("<br>").html_safe
          .col-sm-3
            .row
              .col-sm-3
                %span.label
                  Phone
              .col-sm-9
                = @contact.phone_numbers.join("<br>").html_safe
          .col-sm-6
            .row
              .col-sm-2
                %span.label
                  Address
              .col-sm-10
                - @contact.addresses.each do |address|
                  .address
                    = [address.address_line_1, address.address_line_2, address.city, address.state, address.zip].compact.join(", ")

    .contact.details
      .first.contact
        .board.for.contact
          %h3
          %h2
            = link_to @contact.company.name, @contact.company
            - if @contact.job_title
              &mdash;
              = @contact.job_title

          %h3
            = @contact.company.name
            Relationships
          %table.table.table-hover
            - @contact.company.internal_company_relationships.ordered_by_internal_company_name.each do |internal_company_relationship|
              %tr
                %td
                  = link_to internal_company_relationship.internal_company.name, internal_company_relationship.internal_company
                %td
                  Role:
                  = internal_company_relationship.role.text
                  %br
                %td
                  Status:
                  = internal_company_relationship.record_status
                  %br

        .board.for.contact
          %h3 User Account
          %dl.dl-horizontal
            %dt Account
            %dd
              - if @contact.user.present?
                = @contact.user.email
                - unless @contact.user.invitation_accepted?
                  (Pending confirmation)
              - else
                = link_to "Invite user", new_contact_user_url(@contact), remote: true, class: "btn btn-primary"

    .contact.details
      .contact
        .board.for.contact.communications
          %h3
            Communications
            = link_to edit_section_contact_url(@contact, section: "communications"), class: "btn-fam no-border", remote: true do
              %i.fa.fa-pencil
          %dl.dl-horizontal
            %dt Do not email
            %dd
              = human_boolean(@contact.do_not_email)
            %dt Do not mail
            %dd
              = human_boolean(@contact.do_not_mail)

        .board.for.contact.other
          %h3
            Other
            = link_to edit_section_contact_url(@contact, section: "other"), class: "btn-fam no-border", remote: true do
              %i.fa.fa-pencil
          %dl.dl-horizontal
            %dt
              Birthday
            %dd
              = @contact.birthday && l(@contact.birthday, format: :only_date_month)
            %dt
              Contest Participant
            %dd
              = human_boolean(@contact.contest_participant)
            %dt
              Sources
            %dd
              = @contact.contact_sources.to_sentence

    .contact.details
      .second.contact
        .board.for.contact.notes
          %h3
            Notes
            = link_to new_note_url(notable_id: @contact.id, notable_type: "Contact"), class: "btn-fam no-border", remote: true do
              %i.fa.fa-plus

          %ul.list-unstyled.notes
            - @contact.notes.each do |note|
              %li
                .note
                  = simple_format(note.note)
                .meta.text-muted
                  = l(note.updated_at)
                  - if note.user #Imported from legacy data
                    = note.user.contacts.first.full_name
                  = link_to "edit", edit_note_url(note), remote: true
                  |
                  = link_to "delete", note_url(note), data: { confirm: "Are you sure?", method: 'delete' }
