.neat-row
  .show.content
    .contact.intro
      .go.back
        = link_to contacts_url do
          %span.glyphicon.glyphicon-chevron-left
          Back to contacts list
      .profile
        = render "profile"
      .basic.contact.info
        .contact.name
          %span
            = @contact.full_name
          = link_to edit_contact_url(@contact), class: "btn-fam no-border pull-right", remote: true do
            %i.fa.fa-pencil.pull-right
        .secondary.contact.info
          %span.label
            Email
          = @contact.emails.join(",")
          %span.label
            Phone
          = @contact.phone_numbers.join(",")
          %span.label
            Address
          - @contact.addresses.each do |address|
            %span.address
              = address.address_line_1
              = address.address_line_2
              = address.city
              = address.state
              = address.zip

    .contact.details
      .first.contact
        .board.for.contact
          %h3 Relationships
          %h2 
            = link_to @contact.company.name, @contact.company
          %h4
            = @contact.job_title
          %h5 Affiliations
          %table.table.table-hover
            - @contact.company.affiliate_affiliations.each do |affiliate_affiliation|
              %tr
                %td
                  = link_to affiliate_affiliation.affiliate.name, affiliate_affiliation.affiliate
                %td 
                  Role:
                  = affiliate_affiliation.role.text
                  %br
                %td 
                  Status:
                  = affiliate_affiliation.status.text
                  %br
        .board.for.contact
          %h3 User Account
          %table
            %tr
              %td.tlabel.for.attribute
                %strong Emails:
              %td
                = @contact.emails.join(",")
            - if @contact.user.present?
              %tr
                %td.tlabel.for.attribute
                  %strong
                    User Account:
                %td
                  = @contact.user.email
                  - unless @contact.user.invitation_accepted?
                    (Pending confirmation)
            - else
              %tr
                %td
                  = link_to "Add a user account", new_contact_user_url(@contact), remote: true, class: "btn btn-primary"
                %td

    .contact.details
      .second.contact
        .board.for.contact.communications
          %h3 Communications
          %table
            %tr
              %td.tlabel.for.attribute Birthday
              %td 
                = @contact.birthday && l(@contact.birthday, format: :only_date_month)
            %tr
              %td.tlabel.for.attribute MMI Ballgame
              %td
                = human_boolean(@contact.mmi_ballgame)
            %tr
              %td.tlabel.for.attribute Wall calendar
              %td 
                = human_boolean(@contact.wall_calendar)
            %tr
              %td.tlabel.for.attribute Holiday card
              %td 
                = human_boolean(@contact.holiday_card)
            %tr
              %td.tlabel.for.attribute Mail Optout
              %td 
                = human_boolean(@contact.do_not_mail)
        .board.for.contact.notes
          %h3 Notes
          - @contact.notes.each do |n|
            %div 
              = l(n.updated_at)
            %div
              = n.note