.col-sm-11.for.content
  .contact.intro
    .row
      .col-sm-9.go.back
        = link_to contacts_url do
          %span.glyphicon.glyphicon-chevron-left
          Back to contacts list
      .col-sm-3
        = render "profile"
    .row
      .col-sm-12.basic.contact.info
        .contact.name
          %span
            = @contact.first_name
          %span
            = @contact.last_name
          = link_to "Edit", edit_contact_url(@contact), class: "btn btn-primary to edit pull-right", remote: true
        .secondary.contact.info
          %span.label
            Email
          = @contact.emails.join(",")
          %span.label
            Phone
          = @contact.phone_numbers.join(",")
          %span.label
            Address
            - @contact.addresses.each do |address|
              .address
                = address.address_line_1
                = address.address_line_2
                = address.city
                = address.state
                = address.zip

  .contact.details
    .first.contact.row
      .col-sm-6
        .board.for.contact
          %h3 Relationships
          %h2 
            = @contact.company.name
          %h4
            = @contact.job_title
          %h5 Affiliations
          %table.table.table-hover
            - @contact.company.affiliate_affiliations.each do |affiliate_affiliation|
              %tr
                %td
                  = affiliate_affiliation.affiliate.name
                %td 
                  Role:
                  = affiliate_affiliation.role.text
                  %br
                %td 
                  Status:
                  = affiliate_affiliation.status.text
                  %br
      .col-sm-6
        .board.for.contact
          %h3 User Account
          %table
            %tr
              %td.tlabel.for.attribute Email
              %td
                = @contact.emails.join(",")
            %tr
              %td
              %td
            %tr
              %td
              %td
  .contact.details
    .second.contact.row
      .col-sm-6
        .board.for.contact
          %h3 Communications
          %table
            %tr
              %td.tlabel.for.attribute Birthday
              %td 
                = @contact.birthday
            %tr
              %td.tlabel.for.attribute MMI Ballgame Invite
              %td 
                = @contact.mmi_ballgame
            %tr
              %td.tlabel.for.attribute Email Optout
              %td 
                = @contact.do_not_email
            %tr
              %td.tlabel.for.attribute Mail Optout
              %td 
                = @contact.do_not_mail
      .col-sm-6
        .board.for.contact
          %h3 Notes
          - @contact.notes.each do |n|
            %div 
              = l(n.updated_at)
            %div
              = n.note