.col-sm-11.for.content
  .contact.intro
    .row
      .col-sm-9.go.back
        = link_to contacts_url do
          %span.glyphicon.glyphicon-chevron-left
          Back to contacts list
      .col-sm-3
        = render "profile"
    .row
      .col-sm-12.basic.contact.info
        .contact.name
          %span.editable{ data: { "name" => "first_name",  "type" => "text", "pk" => "#{@contact.id}", "title" => "Enter First Name" }}
            = @contact.first_name
          %span.editable{ data: { "name" => "last_name", "type" => "text", "pk" => "#{@contact.id}", "title" => "Enter Last Name" }}
            = @contact.last_name
          %button.btn.btn-primary.to.edit.pull-right{ data: { "toggle" => "modal", "target" => "#edit-modal" }} 
            Edit
        .secondary.contact.info
          %span.label
            Email
          = @contact.email
          %span.label
            Phone
          = @contact.phone
          %span.label
            Address
          = @contact.address
          = @contact.address2
          = @contact.city
          = @contact.state
          = @contact.zip

  .contact.details
    .first.contact.row
      .col-sm-6
        .board.for.contact
          %h3 Relationships
          %h2 
            = @company.name
          %h4
            = @contact.job_title
          %h5 Affiliations
          %table.table.table-hover
            - @company.affiliates.each do |af|
              %tr
                %td
                  = af.name
                %td 
                  - @company.affiliate_affiliations.each do |aa|
                    Role:
                    = aa.role.text
                    %br
                %td 
                  - @company.affiliate_affiliations.each do |aa|
                    Status:
                    = aa.status.text
                    %br
      .col-sm-6
        .board.for.contact
          %h3 User Account
          %table
            %tr
              %td.tlabel.for.attribute Email
              %td
                = @contact.email
            %tr
              %td
              %td
            %tr
              %td
              %td
  .contact.details
    .second.contact.row
      .col-sm-6
        .board.for.contact
          %h3 Communications
          %table
            %tr
              %td.tlabel.for.attribute Birthday
              %td 
                = @contact.birthday # format month and day
            %tr
              %td.tlabel.for.attribute MMI Ballgame Invite
              %td 
                = @contact.mmi_ballgame
            %tr
              %td.tlabel.for.attribute Email Optout
              %td 
                = @contact.do_not_email
            %tr
              %td.tlabel.for.attribute Mail Optout
              %td 
                = @contact.do_not_mail
      .col-sm-6
        .board.for.contact
          %h3 Notes
          - @notes.each do |n|
            %div 
              = n.updated_at
            %div
              = n.note 
.modal#edit-modal
  .modal-dialog
    .modal-content
      .modal-header
        Edit contact
      .modal-body
        = render :partial => 'form'
