.neat-row
  .show.content
    .contact.intro
      .go.back
        - if(@company)
          = link_to company_url(@company) do
            %span.glyphicon.glyphicon-chevron-left
            = "Back to #{@company.name}"
        - else
          = link_to contacts_url do
            %span.glyphicon.glyphicon-chevron-left
            View all contacts
      .profile
        = render "profile"
      .basic.contact.info
        .contact.name
          %span
            = @contact.full_name
          = link_to url_for([@company, @contact]), class: "btn-fam no-border pull-right", data: { confirm: "Are you sure you want to delete the contact '#{@contact.full_name}'?", method: 'delete' } do
            %i.fa.fa-trash-o.pull-right
          = link_to url_for([:edit, @company, @contact]), class: "btn-fam no-border pull-right" do
            %i.fa.fa-pencil.pull-right

        .secondary.contact.info.row
          .col-sm-3
            .row
              .col-sm-3
                %span.label
                  Email
              .col-sm-9
                = @contact.emails.join("<br>").html_safe
          .col-sm-3
            .row
              .col-sm-3
                %span.label
                  Phone
              .col-sm-9
                = @contact.phone_numbers.join("<br>").html_safe
          .col-sm-6
            .row
              .col-sm-2
                %span.label
                  Address
              .col-sm-10
                - @contact.addresses.each do |address|
                  .address
                    = "#{address.address_line_1}, #{address.address_line_2}, #{address.city}, #{address.state}, #{address.zip}"

    .contact.details
      .first.contact
        .board.for.contact
          %h3
          %h2
            = link_to @contact.company.name, @contact.company
            &mdash;
            = @contact.job_title

          %h3
            = @contact.company.name
            Relationships
          %table.table.table-hover
            - @contact.company.internal_company_relationships.ordered_by_internal_company_name.each do |internal_company_relationship|
              %tr
                %td
                  = link_to internal_company_relationship.internal_company.name, internal_company_relationship.internal_company
                %td
                  Role:
                  = internal_company_relationship.role.text
                  %br
                %td
                  Status:
                  = internal_company_relationship.record_status
                  %br

        .board.for.contact
          %h3 User Account
          %table
            %tr
              %td.tlabel.for.attribute
                %strong Emails:
              %td
                = @contact.emails.join(",")
            - if @contact.user.present?
              %tr
                %td.tlabel.for.attribute
                  %strong
                    User Account:
                %td
                  = @contact.user.email
                  - unless @contact.user.invitation_accepted?
                    (Pending confirmation)
            - else
              %tr
                %td
                  = link_to "Add a user account", new_contact_user_url(@contact), remote: true, class: "btn btn-primary"
                %td

    .contact.details
      .second.contact
        .board.for.contact.communications
          %h3
            Communications
            = link_to edit_communications_contact_url(@contact), class: "btn-fam no-border", remote: true do
              %i.fa.fa-pencil
          %table
            %tr
              %td.tlabel.for.attribute Birthday
              %td
                = @contact.birthday && l(@contact.birthday, format: :only_date_month)
            %tr
              %td.tlabel.for.attribute Do not email
              %td
                = human_boolean(@contact.do_not_email)
            %tr
              %td.tlabel.for.attribute Do not mail
              %td
                = human_boolean(@contact.do_not_mail)
            %tr
              %td.tlabel.for.attribute Contest participant
              %td
                = human_boolean(@contact.contest_participant)
            %tr
              %td.tlabel.for.attribute Send cookies
              %td
                = human_boolean(@contact.send_cookies)
            %tr
              %td.tlabel.for.attribute Send MMI ballgame emails
              %td
                = human_boolean(@contact.mmi_ballgame)
            %tr
              %td.tlabel.for.attribute Source
              %td
                = @contact.source

        .board.for.contact.notes
          %h3
            Notes
            = link_to new_note_url(notable_id: @contact.id, notable_type: "Contact"), class: "btn-fam no-border", remote: true do
              %i.fa.fa-plus

          %ul.list-unstyled.notes
            - @contact.notes.each do |note|
              %li
                .note
                  = simple_format(note.note)
                .meta.text-muted
                  = l(note.updated_at)
                  = note.user.contacts.first.full_name
                  = link_to "edit", edit_note_url(note), remote: true
                  |
                  = link_to "delete", note_url(note), data: { confirm: "Are you sure?", method: 'delete' }
