.row
  #addresses
    = f.fields_for :addresses, (@company.persisted? || @company.addresses.present?) ? @company.addresses : @company.addresses.build, wrapper: false do |address_form|
      .col-md-4.fields
        .panel.panel-default
          .panel-heading
            .panel-title
              Address
          .panel-body
            = address_form.input :address_line_1, as: :string, placeholder: "Address Line 1", label: false
            = address_form.input :address_line_2, as: :string, placeholder: "Address Line 2", label: false
            .row
              .col-md-6
                = address_form.input :city, placeholder: "City", label: false
              .col-md-6
                = address_form.input :state, placeholder: "State", label: false
            .row
              .col-md-6
                = address_form.input :zip, placeholder: "Zip", label: false
              .col-md-6
                = address_form.input :country, collection: Address.country.values.map{|option| [option.upcase, option] }, label: false
            = address_form.link_to_remove "Remove", class: "btn btn-danger"
  .col-md-4
    = f.link_to_add  "Add address", :addresses, class: "btn btn-default", data: { target: "#addresses" }