.row
  .col-md-12
    %table.table
      %thead
        %tr
          %th
            Company
          %th
            Role
          %th
            Inactive
          %th
      %tbody#affiliation-fields
        = f.fields_for :affiliate_affiliations, (@company.persisted? || @company.affiliate_affiliations.present?) ? @company.affiliate_affiliations.ordered_by_affiliate_name : @company.affiliate_affiliations.build, wrapper: false do |affiliation_form|
          %tr.fields
            %td
              .col-md-12
                = affiliation_form.input :affiliate_id, collection: Company.except_internal.map{ |c| ["#{c.name} (#{c.company_type})", c.id] }, include_blank: "Select company" , label: false
            %td
              .col-md-12
                = affiliation_form.input :role, collection: Affiliation.role.options, label: false
            %td
              .col-md-12
                = affiliation_form.input :archived, label: false, wrapper: false
            %td
              .col-md-12
                = affiliation_form.link_to_remove "Remove", class: "btn btn-danger btn-xs", data: { confirm: "Are you sure you want to delete this affiliation?"}

    = f.link_to_add  "Add affiliate", :affiliate_affiliations, class: "btn btn-default", data: { target: "#affiliation-fields" }