%tr
  %td
    = check_box_tag "select-company"
  %td
    = image_tag company.company_logo.mini_thumb.url, alt: company.name
  %td
    = link_to company.name, company_url(company)
  %td
    %ul.list-unstyled
      - company.internal_company_relationships.each do |relationship|
        %li
          = relationship.internal_company.name
          %code
            = "#{(relationship.role.text)}"
  %td
    %ul.list-unstyled
      - company.affiliate_affiliations.ordered_by_affiliate_name.each do |affiliation|
        %li
          = affiliation.affiliate.name
          %code
            = "#{(affiliation.role.text)}"