%tr
  %td
    = image_tag company.company_logo.mini_thumb.url, alt: company.name
  %td
    = link_to company.name, company_url(company)
  %td
    %ul.list-unstyled
      - company.internal_company_relationships.each do |relationship|
        %li
          = relationship.internal_company.name
          %code
            = "#{(relationship.role.text)}"
  %td
    %ul.list-unstyled
      - company.affiliates.ordered_by_name.each do |affiliate|
        %li
          = affiliate.name
          %code
            = affiliate.company_type.name