.modal-dialog
  .modal-content
    .modal-header
      %button.close{ "data-dismiss" => "modal", type: "button" } ×
      %h2.modal-title
        Manage Affiliations
    #modal-form
      = simple_nested_form_for @company, url: update_affiliations_company_url(@company), html: { class: "form-horizontal" }, remote: true do |f|
        .modal-body
          - if @company.errors.any?
            .alert.alert-danger
              %a.close{ "data-dismiss" => "alert", href: "#" } ×
              %h4
                Oh snap! You got an error!
              - @company.errors.full_messages.each do |message|
                %p
                  = message
          - if @success_message
            .alert.alert-success
              %a.close{ "data-dismiss" => "alert", href: "#" } ×
              %h4
                = @success_message

          .row
            .col-md-10.col-md-offset-1
              .row
                = render "affiliation_fields", f: f
        .modal-footer
          %button.btn.btn-default{ "data-dismiss" => "modal", type: "button" } Close
          = f.submit "Save", class: "btn btn-primary", data: { toggle: "button", "loading-text" => "Saving" }