.neat-row
  .index.content
    = render "action_panel", search_url: companies_url, csv_export_url: companies_url(params.merge(format: 'csv'))
    .contacts.holder
      %table.table.for.table-hover
        %thead
          %tr
            %th
              = check_box_tag "select-contact"
            %th
            %th.sortable
              - if(params[:name_sort] == "down")
                = link_to companies_url(params.merge(name_sort: "up")) do
                  Name
                  %i.fa.fa-angle-down
              - else
                = link_to companies_url(params.merge(name_sort: "down")) do
                  Name
                  %i.fa.fa-angle-up
            %th
              Relationship(s)
            %th
              Affiliation(s)
        %tbody
          %tr
            %td.add.a.company{ colspan: 5 }
              .wrap
                %i.fa.fa-plus
                = link_to "Add a new company", new_company_url
        %tbody#companies-listing
          = render @companies
      #companies-pagination
        = paginate(@companies)
  .profile.on.listing.pages
    = render "profile"
    = render "companies_contacts_shared/filter_sidebar"
