.col-sm-9.for.content
  = render "action_panel", search_url: companies_url
  .contacts.holder
    %table.table.for.contacts.table-hover
      %thead
        %tr
          %th
            = check_box_tag "select-contact"
          %th
          %th
            Name
          %th
            Affiliation(s)
          %th
            Role(s)
      %tbody#companies-listing
        = render @companies
    #companies-pagination
      = paginate(@companies)
.col-sm-2.for.sidebar
  %h2
    Filters:
  %h2
    Affiliations
  #affiliations-filter
    .well
      %ul.list-unstyled
        - @all_principals[true].each do |principal|
          %li.checkbox
            = check_box_tag "affiliation_filter[company_ids]", principal.id
            = principal.name
    .well
      %ul.list-unstyled
        - @all_principals[false].each do |principal|
          %li.checkbox
            = check_box_tag "affiliation_filter[company_ids]", principal.id
            = principal.name