.neat-row
  .index.content
    = render "action_panel", search_url: companies_url
    .contacts.holder
      %table.table.for.table-hover
        %thead
          %tr
            %th
              = check_box_tag "select-contact"
            %th
            %th.sortable
              Name <i class="fa fa-angle-down"></i
            %th
              Affiliation(s)
            %th
              Role(s)
        %tbody
          %tr
            %td.add.a.company{ colspan: 5 }
              .wrap
                %i.fa.fa-plus
                = link_to "Add a new company", new_company_url, remote: true
        %tbody#companies-listing
          = render @companies
      #companies-pagination
        = paginate(@companies)
  .profile.on.listing.pages
    = render "profile"
    .filters.wrapper
      %h4.filters
        %i.fa.fa-filter 
        Filters
      %h3.filter.header
        Affiliations <i class="fa fa-angle-down pull-right"></i>
      #affiliations-filter.filter.wrapper
        %ul.list.default
          - (@all_principals[true] || []).each do |principal|
            %li.checkbox
              = check_box_tag "affiliation_filter[company_ids]", principal.id, (params[:c] || []).include?(principal.id.to_s)
              = principal.name
          %li.checkbox
            External company <i class="fa fa-angle-down"></i>
          %ul.list.all
            - (@all_principals[false] ||[]).each do |principal|
              %li.checkbox
                = check_box_tag "affiliation_filter[company_ids]", principal.id, (params[:c] || []).include?(principal.id.to_s)
                = principal.name