.neat-row
  .show.content
    .go.and.profile
      .go.back
        = link_to companies_url do
          %span.glyphicon.glyphicon-chevron-left
          Back to companies list
      .profile
        = render "profile"

    .company.details
      = simple_nested_form_for @company do |f|
        .row
          .col-md-4
            %h2
              Profile
            .panel.panel-default
              .panel-body
                = f.input :name, placeholder: "Company Name", label: false
                = f.input :website, placeholder: "Website", label: false
                = f.input :company_type, collection: CompanyType.all, include_blank: "Company Type", label: false
                = f.input :company_logo
                = image_tag @company.company_logo.url

        .row.top-buffer-30
          .col-md-12
            %h2
              Contact Info
            = render 'address_fields', f: f
            = render 'phone_number_fields', f: f

        %br
        .form-group
          = link_to "Back", companies_url, class: "btn btn-default"
          = f.submit "Save", class: "btn btn-primary"