.neat-row
  .show.content
    .go.and.profile
      .go.back
        = link_to companies_url do
          %span.glyphicon.glyphicon-chevron-left
          Back to companies list
      .profile
        = render "profile"
    .company.intro
      .company.logo
        = image_tag @company.company_logo.url, alt: @company.name
      .company.info.pull-right
        .company.name
          = @company.name
          = link_to edit_company_url(@company), class: "btn-fam no-border pull-right", remote: true do
            %i.fa.fa-pencil.pull-right
        .secondary.company.info
          %span.label
            Address
          - @company.addresses.each do |address|
            %span.address
              = address.address_line_1
              = address.address_line_2
              = address.city
              = address.state
              = address.zip
          %span.label
            Web
          = @company.website

          %span.label
            Phone
          = @company.phone_numbers.join(",")

    .company.details
      .first.company.row
        .col-sm-12
          .board.for.company
            %h3 Relationships
            = link_to company_edit_affiliations_url(@company), class: "btn-fam no-border", remote: true do
              %i.fa.fa-pencil
            %table.table.table-hover
              %tr
                %th Affiliations
                %th Role(s)
                %th Status
                %th Added
                %th Last Modified
              - @company.affiliates.each do |affiliate|
                %tr
                  %td
                    = affiliate.name 
                  %td 
                    - @company.affiliate_affiliations.each do |affiliation|
                      = affiliation.role.text
                      %br
                  %td 
                    - @company.affiliate_affiliations.each do |affiliation|
                      = affiliation.status.text
                      %br
                  %td 
                    - @company.affiliate_affiliations.each do |affiliation|
                      = l(affiliation.created_at, format: :only_date)
                      %br
                  %td 
                    - @company.affiliate_affiliations.each do |affiliation|
                      = l(affiliation.updated_at, format: :only_date)
                      %br
    .company.details
      .second.company.row
        .col-sm-12
          .board.for.company
            %h3 People
            %table.table.table-hover
              %tr
                %th Name
                %th Title
                %th Email
                %th Phone
                %th Status
                %th Last Modified
              - @company.contacts.each do |contact|
                %tr
                  %td 
                    = link_to contact.full_name, contact_url(contact)
                  %td 
                    = contact.job_title
                  %td 
                    = contact.emails.join(",")
                  %td 
                    = contact.phone_numbers.join(",")
                  %td
                    = contact.status.text
                  %td
                    = l(contact.updated_at, format: :only_date)