.col-sm-12.for.content
  .contact.intro
    .row
      .col-sm-9.go.back
        = link_to companies_url do
          %span.glyphicon.glyphicon-chevron-left
          Back to companies list
      .col-sm-3
        = render "profile"
    .row
      .col-sm-12.basic.contact.info
        .contact.name
          = @company.name
        .secondary.contact.info
          %span.label
            Address
          = @company.address
          = @company.address2
          = @company.city
          = @company.state
          = @company.zip
          %span.label Web
          %span.label Phone
  .contact.details
    .first.contact.row
      .col-sm-12
        .board.for.contact
          %h3 Relationships
          %table.table.table-hover
            %tr
              %th Affiliations
              %th Role(s)
              %th Status
              %th Added
              %th Last Modified
            - @company.client_affiliates.each do |af|
              %tr
                %td
                  = af.name
                %td 
                  - @company.client_affiliate_affiliations.each do |aa|
                    = aa.role
                    %br
                %td 
                  - @company.client_affiliate_affiliations.each do |aa|
                    = human_status(aa.status)
                    %br
                %td 
                  - @company.client_affiliate_affiliations.each do |aa|
                    = aa.created_at
                    %br
                %td 
                  - @company.client_affiliate_affiliations.each do |aa|
                    = aa.updated_at
                    %br              
  .contact.details
    .second.contact.row
      .col-sm-12
        .board.for.contact
          %h3 People
          %table.table.table-hover
            %tr
              %th Name
              %th Title
              %th Email
              %th Phone
              %th Status
              %th Last Modified
            - @company.contacts.each do |c|
              %tr
                %td 
                  = link_to c.full_name, contact_url(c)
                %td 
                  = c.job_title
                %td 
                  = c.email
                %td 
                  = c.phone
                %td Need to add active status to contacts
                %td
                  = c.updated_at