%li
  = "<strong>#{activity.whodunnit_email}</strong> created #{a_an_helper(activity.item_description)} <strong>#{link_to_if(activity.item_page_link.present?, activity.item_description, activity.item_page_link)}</strong> at <em>#{l(activity.created_at)}</em>".html_safe
