!!!
%html
  %head
    %title
      Jobrunner
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel: "stylesheet"}
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags
  %body{ class: "#{controller.controller_name} #{controller.action_name}" }
    #main
      = render "left_nav"
      = yield
    #page-modal.modal.fade

    = javascript_include_tag "application"