!!!
%html
  %head
    %title
      Jobrunner
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel: "stylesheet"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body{ class: "#{controller.controller_name} #{controller.action_name}" }
    #loading-indicator{style: 'display:none;'}
      Loading..
    #main
      = render "left_nav"
      = yield
      = render "footer"
    #page-modal.modal.fade
